<template>
    <div>
        
        <div v-if="displayDisconnect" class="ui orange message"><i class="times icon"></i>Connecting</div>
        <!-- 
       
        <div v-else class="ui green message"><i class="check icon"></i>Connected</div> 
        -->
        <div class="ui one cards">
            <div class="card" v-for="log in logs" v-bind:key="log.id">
                
                <div class="content">
                    <div class="ui top left attached label" v-bind:class="methodHighlight(log.method)" >
                        {{ log.method }} 
                    </div>
                    <div class="ui violet bottom right attached label">
                        {{ log.created_at }} 
                    </div>
                    <div v-if="log.body" class="right floated meta"><i class="arrows alternate horizontal icon"></i></div>
                    <div class="header">
                        <a v-if="log.params" v-bind:href="base_url + log.url + '?'+ log.params">
                            {{ log.url }}?{{ log.params }}
                        </a>
                        <a v-else v-bind:href="base_url + log.url">
                            {{ log.url }}
                        </a>

                    </div>
                    <div class="meta left aligned">
                        <h4>Headers</h4>
                        <pre><code class="json">{{ log.headers }}</code></pre>
                        
                    </div>
                    <div v-if="log.body" class="description left aligned">
                        <pre><code class="json">{{ log.body }}</code></pre>
                    </div>
                    </div>
                    <div class="extra content">
                        
                        <div class="ui one buttons">
                            <div class="ui basic green button">Save Request</div>
                        </div>
                    </div>
                    <div class="extra content">
                        ID: {{ log.id }}
                    </div>
            </div>
        </div>
    </div>
</template>
<script>

const API_URL = `http://${process.env.VUE_APP_LUMINE_ADDRESS}:${process.env.VUE_APP_LUMINE_PORT}`;
const DEFAULT_MAPPING = 'violet';
const METHOD_MAPPING = {
    'GET': 'green',
    'POST': 'teal',
    'PUT': 'blue',
    'DELETE': 'red',
    'REDIS-PUBLISH': 'orange',
};
export default {
    name: 'ListLogs',

    components: {

    },

    data() {
        return {
            logs: [],
            base_url: API_URL,
            displayDisconnect: false
        };
    },

    methods: {
        mapMethod(method) {
            if (METHOD_MAPPING.contains(method)) {
                return METHOD_MAPPING[method];
            } else {
                return DEFAULT_MAPPING;
            }
        },

        methodHighlight: function (method) {
            return method in METHOD_MAPPING ? METHOD_MAPPING[method] : DEFAULT_MAPPING;
        }
        
    },
    

    beforeMount() {
        this.$options.sockets.onmessage = (msg) => {
            this.logs.unshift(JSON.parse(msg.data));
        }
        this.$options.sockets.onclose = (msg) => {
            console.log('Disconnected', (msg))

            this.displayDisconnect = true;
        }
        this.$options.sockets.onerror = (msg) => {
            console.log('Error occured', (msg))

            this.displayDisconnect = true;
        }
        this.$options.sockets.onopen = (msg) => {
            console.log('Socket Opened', (msg))
            this.displayDisconnect = false;
        }
    }
}
</script>
