<template>
    <div>
        <form class="ui form">
            <h4 class="ui dividing header">Static Response</h4>
            <div class="field">
                <label>Method @ Route</label>
                <div class="two fields">
                <div class="field">
                    <input type="text" v-model="sr_method" />
                </div>
                <div class="field">
                    <input type="text" v-model="sr_route" />
                </div>
                </div>
            </div>
            <div class="field">
                <label>Status code</label>
                <input type="number" v-model="sr_status_code" />
            </div>
            <div class="field">
                <label>Delay</label>
                <input type="number" v-model="sr_delay" />

            </div>
            <div class="field">
                <label>Response</label>
                <textarea v-model="sr_response"></textarea>
            </div>
            <div>
                <input value="Submit" class="ui basic green button" v-on:click="submit" />
            </div>
        </form>
        
    </div>
</template>

<script>
import axios from 'axios';


const API_URL = `http://${process.env.VUE_APP_LUMINE_ADDRESS}:${process.env.VUE_APP_LUMINE_PORT}`;
export default {
    name: 'StaticResponsesForm',

    components: {

    },

    data() {

        return {
            sr_route: '/',
            sr_method: 'GET',
            sr_response: '{}',
            sr_delay: 0,
            sr_status_code: 200,
            
        };

    },

    methods: {
        submit() {
            // check if id 
            // payload = {}
            var payload = {
                "route": this.sr_route,
                "method": this.sr_method,
                "status_code": this.sr_status_code,
                "delay": this.sr_delay,
                "response": this.sr_response,
            };
            if (this.$route.params.id) {
                const url = `${API_URL}/lumine/response/${this.$route.params.id}`;
                axios.put(url, payload);
            } else {
                const url = `${API_URL}/lumine/responses`;
                axios.post(url, payload);
            }
            
        },
        fetchResponse(id){
            const url = `${API_URL}/lumine/response/${id}`;
            axios.get(url).then(
                response => {
                    this.sr_route = response.data.route
                    this.sr_method = response.data.method
                    this.sr_response = response.data.response
                    this.sr_delay = response.data.delay
                    this.sr_status_code = response.data.status_code
                }
            ).catch(error => {
                console.log(error)
                this.$router.push({ name: 'CreateStaticResponse' })
            });
        },
    },

    mounted() {
        console.log(this.$route.params);
        if (this.$route.params.id) {
            this.fetchResponse(this.$route.params.id);
        }
        //this.fetchResponses();
    },
}
</script>
