<template>
    <div>

        <!-- Add a redirect or something -->
        <router-link :to="{ name: 'CreateStaticResponse' }" class="ui basic green button">NEW</router-link>

        <br><br>
        <div class="ui one cards">
            <div class="card" v-for="response in responses" v-bind:key="response.id">
        
                <div class="content">
                    <i class="right floated refresh icon"></i>
                    <div class="header">
                        {{ response.method }} @ <a>{{ response.route }}</a> with {{ response.status_code }}

                    </div>
                    <div class="meta">
                        {{ response.delay }}
                    </div>
                    <div class="description">
                        {{ response.response }}

                    </div>
                    </div>
                    <div class="extra content">
                        <div class="ui one buttons">
                            <router-link :to="{ name: 'UpdateStaticResponse', params: { id: response.id } }" class="ui basic teal button">EDIT</router-link>
                            <div class="ui basic red button" @click="delete_response(response.id)">DELETE</div>
                        </div>
                    </div>
                    <div class="extra content">
                        ID: {{ response.id }}
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';


const API_URL = `http://${process.env.VUE_APP_LUMINE_ADDRESS}:${process.env.VUE_APP_LUMINE_PORT}`;
export default {
    name: 'StaticResponses',

    components: {

    },

    data() {

        return {
            responses: [],
        };

    },

    methods: {
        delete_response(response_id) {
            const url = `${API_URL}/lumine/response/${response_id}`;
            axios.delete(url);
            // find index of your object
            let index = this.responses.map(item => item.id).indexOf(response_id);
            this.responses.splice(index, 1);

        },

        getResponses() {
            const url = `${API_URL}/lumine/responses`;
            axios.get(url).then(response => (this.responses = response.data));
        },
        
        fetchResponses(){
            this.getResponses().then((data) => {
                this.responses = data;
            });
        },
    },

    mounted() {
        this.fetchResponses();
    },
}
</script>
