<template>
  
  <div id="app">
    <div class="ui secondary pointing menu">
      <router-link to='/' class="item">Logs</router-link>
      <router-link to='/responses' class="item">Responses</router-link>
      <router-link to='/requests' class="item">Saved Requests</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
  }
}


</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
